@model string;

<div>
    <form action="/Authentication/LogIn" method="post">
        <input type="password" name="password" value="" />
        <input type="submit" name="name" value="Send" />
    </form>
</div>
